.home {
  display: flex;
  flex-direction: row-reverse;
}

.main {
  margin-left: 25rem;
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
}
