.card {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  margin-top: 0.25rem;
}

.option {
  cursor: pointer;
  position: relative;
  z-index: -1;
}

.options {
  display: flex;
  justify-content: space-between;
  position: absolute;
}

.options p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 4px;
  font-size: 16px;
  background-color: #333;
  border-radius: 5px;
}

.img {
  margin-top: 0.5rem;
  width: 25rem;
  height: 16rem;
  background-color: #333;
  cursor: pointer;
}
