.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  max-height: 350px;
  overflow-y: auto;
}

.inputBox {
  display: flex;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.inputBox input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.inputBox button {
  padding: 10px 20px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.inputBox button:hover {
  background-color: #45a049;
}

.tasks {
  width: 100%;
  max-width: 400px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.task span {
  color: #000;
}

.task button {
  background-color: #ff4d4d;
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.task button:hover {
  background-color: #cc0000;
}
