.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #17191e;
  padding: 0 20px 20px;
  border-radius: 10px;
  width: 500px;
  height: 400px;
  overflow-y: auto;
}

::-webkit-scrollbar{
  width: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: fixed;
  width: 460px;
  background: #17191e;
  z-index: 1000;
}

.header h2 {
  font-size: 1.5rem;
  color: #fff;
}

.close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}

.body {
  text-align: left;
  padding-top: 80px;
}

.body h3 {
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 20px;
}

.body ul {
  list-style: none;
  padding: 0;
}

.body li {
  margin-bottom: 10px;
}

.body label {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.checkboxWrapper .ikxBAC {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
}

.checkboxWrapper .ikxBAC::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkboxWrapper .ikxBAC,
.checkboxWrapper .ikxBAC::after {
  transition: all 100ms ease-out;
}

.checkboxWrapper .ikxBAC::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkboxWrapper input[type="checkbox"] {
  cursor: default;
}

.checkboxWrapper .ikxBAC:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.checkboxWrapper .ikxBAC:checked {
  background-color: #6e79d6;
}

.checkboxWrapper .ikxBAC:checked::after {
  background-color: #fff;
  left: 13px;
}

.checkboxWrapper :focus:not(.focus-visible) {
  outline: 0;
}
